.main-1 { color: color(main-1); }
.main-2 { color: color(main-2); }
.accent-1 { color: color(accent-1); }

.opacity-5 { opacity: .5; }
.push { height: 25px; }
.push--tall { height: 50px; }


.column {
  float: left;
  width: 32%;

  @media screen and (max-width: breakpoint(phone-lg)) {
    width: 100%;
  }

  &:nth-child(n) {
    margin-right: 1%;
  }

  &--tall {
    margin: 50px 0 0 0;
  }
}

