.banner {
  position: relative;
  background: url(img/code.png);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  width: 100%;
  margin: 0;
}
